.contact {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80dvh;
    padding: 0;
    background: #1f1f1f;
    color: #fff;
    z-index: 1;  
}

.contact .container {
    display: flex;
    flex-direction: column; 
    justify-content: center;    
    padding: 2% 4%;
    width: 100%;
    height: 100%;
    gap: 30px;
}

.contact .container-title {
    position: relative;
    font-size: 2.5rem;
    font-weight: 800;
    color: #fff;

    span {
        color: #38b6ff;
    }

}
